<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>{{ site.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <meta name="description" content="{{ site.description }}"> -->
<meta name="Description" content="Vikas is a Full-Stack Software developer based out of Milky-Way Galaxy and is a true geek. He possesses expertise in Javascript and Python. Learning new technologies and reading books is his passion.">
<meta name="Keywords" content="Vikas Yadav, Hyderabad, vikasharry03, vikaskyadav, Software Developer, Computer Scientist, Data Scientist, Researcher, Blockchain developer, Visioner, Author, Speaker, Entrepreneur ">

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
{% if site.favicon %}
<link rel="shortcut icon" href="{{ site.favicon }}" />
{% endif %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
