<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
        <style type="text/css">
          {% include main.css %}
        </style>
        <script type="text/javascript">(function(t,e){var r=function(t){try{var r=e.head||e.getElementsByTagName("head")[0];a=e.createElement("script");a.setAttribute("type","text/javascript");a.setAttribute("src",t);r.appendChild(a);}catch(t){}};t.CollectId = "5c7ce1f7d847ad7d0271e7a2";r("https://collectcdn.com/launcher.js");})(window,document);</script>
    </head>
    <body>
          {% include header.html %}
          {% include social.html %}
          {{ content }}
        <script src="//instant.page/1.1.0" type="module" integrity="sha384-EwBObn5QAxP8f09iemwAJljc+sU+eUXeL9vSBw1eNmVarwhKk2F9vBEpaN9rsrtp"></script>
    </body>
</html>
